﻿@model IEnumerable<TickTock.Core.Models.Tick>

<div class="row">
  <div class="col-lg-12">

    <h1>Ticks!</h1>

    <table class="table">
      <thead>
        <tr>
          <th>TickId</th>
          <th>Time</th>
          <th>AppVersion</th>
          <th>Hostname</th>
        </tr>
      </thead>
      <tbody>
      @foreach (var i in Model)
      {
        <tr>
          <td>@i.TickId</td>
          <td>@i.TickTime</td>
          <td>@i.AppVersion</td>
          <td>@i.Hostname</td>
        </tr>

      }
      </tbody>
    </table>
  </div>
</div>
